server:
  port: 8082

spring:
  application:
    name: vault-service
  datasource:
    url: jdbc:postgresql://localhost:5432/securevault_vault
    username: postgres
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: false # Disabled for now to simplify, using ddl-auto update
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8081/.well-known/jwks.json

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info

security:
  jwt:
    issuer: securevault

encryption:
  secret-key: "MySuperSecretKeyForEncryption!!!" # 32 chars for AES-256
  salt: "SecureSalt123"
